/* Estilos generales */
body {
  background-image: url(signinbkg.png);
  background-size: cover;
  font-family: 'Arya', sans-serif; /*----------------------------------------------------------------------*/
    font-size: 16px;
    line-height: 1.5;
    background-color: #eeeeee;
}

.box {
  background-color: #87E4DB;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
}

label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border: 2px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-color: #0066cc;
  outline: none;
}

input[type="submit"] {
  background-color: #0066cc;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #003399;
}

.bottom {
  margin-top: 20px;
}

a.back-button {
  color: rgb(20, 20, 114);
  cursor: pointer;
  text-decoration: none;
  max-height: 5px;
}

a.back-button:hover {
  text-decoration: none;
}

button#iniciar-sesion {
  background-color: #c8c9cb;
  border: #c8c9cb;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  display: block;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

button#iniciar-sesion:hover {
  background-color: #225490;
  border: #225490;
  color: #ffffff;
}

/* Estilos específicos para el ojo que permite mostrar/ocultar la contraseña */
.toggle-password {
  color: #4d9aca;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-password:hover {
  color: #2d8ae6;
}

/* Media queries para hacer el formulario responsive */
@media screen and (max-width: 600px) {
  .box {
    max-width: 100%;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    font-size: 14px;
  }
  
  input[type="submit"],
  button#iniciar-sesion {
    font-size: 16px;
  }
}

#ret-ini a:link {
  margin-top: 5px;
  color: rgb(20, 20, 114);
  text-decoration: none;
}

#ret-ini a:visited {
  color: rgb(20, 20, 114);
  text-decoration: none;
}

#con-olv a:link {
  margin-top: 5px;
  color: rgb(20, 20, 114);
  text-decoration: none;
}

#con-olv a:visited {
  color: rgb(20, 20, 114);
  text-decoration: none;
}
.box h1{
  text-align: center;
}

#logo0{
  color: rgb(255, 255, 255); /*----------------------------------------------------------------------------------------------------------------------------------*/
  font-size: 30px;
}

#logo1{
  color: #cbf0c1; /*----------------------------------------------------------------------------------------------------------------------------------*/
  font-size: 30px;
}

#logo2{
  color: rgb(0, 90, 100); /*---------------------------------------------------------------------------------------------------------------*/
  font-size: 30px;
}
#logo4{
  display: flex;
  align-items: flex-start;
  margin-left: 45%;
}
